---
import type { GetStaticPaths } from 'astro'
import Layout from '@layouts/Layout.astro'
import Header from '@components/ui/Header.astro'
import Footer from '@components/ui/Footer.astro'
import { GRADUATES } from '@data/GRADUATES.data'
import { getPath } from '@utils/getPath'

export const getStaticPaths = (() => {
	return GRADUATES.map((graduate) => {
		return {
			params: { graduate: getPath(graduate.name) },
			props: { ...graduate }
		}
	})
}) satisfies GetStaticPaths

const {
	name,
	full_name,
	project_name,
	project_year,
	project_description,
	project_images,
	video_id
} = Astro.props
---

<Layout title={name + ' - ' + project_name}>
	<Header absolute />
	<main class='h-full px-10 pt-28 landscape:text-primary text-white'>
		<h1>{full_name}</h1>
		<h2>{project_name} - {project_year}</h2>
		<p>{project_description}</p>
	</main>
	<Footer class='h-1/2 [clip-path:polygon(0%_20%,100%_0%,100%_100%,0%_100%);]' />
</Layout>
