---
import Layout from '@layouts/Layout.astro'
import Header from '@components/ui/Header.astro'
import { architects } from '@data/architects.data'
import Reel from '@components/Reel.astro'
import LogoULS from '@components/icons/LogoULS.astro'
---

<Layout
	title='Memorias Audiovisuales | Escuela de Arquitectura, Universidad de La Serena'
	description=''
>
	<Header absolute />
	<main class='swiper-footer swiper h-full w-full'>
		<div class='swiper-wrapper'>
			<div class='swiper-slide'>
				<div class='swiper-reel swiper h-full w-full'>
					<article class='swiper-wrapper'>
						{
							architects.map((architect, i) => (
								<Reel info={architect} index={i + 1} total={architects.length} />
							))
						}
					</article>
				</div>
			</div>
			<footer
				class='swiper-slide bg-primary text-white flex flex-col items-center gap-6 justify-center'
			>
				<p class='font-title'>Proyecto financiado por:</p>
				<div class='w-40 h-40'><LogoULS /></div>
				<p class='font-paragraph bottom-6 whitespace-nowrap font-light absolute'>
					Desarrollado por <a href='' class='text-blue-500 hover:text-white duration-150'>Strocs</a>
				</p>
			</footer>
		</div>
	</main>
</Layout>

<script>
	import Swiper from 'swiper'
	import { Navigation, Keyboard, Mousewheel } from 'swiper/modules'

	const swiperFooter = new Swiper('.swiper-footer', {
		modules: [Keyboard],
		keyboard: {
			enabled: true,
			onlyInViewport: false
		}
	})

	const swiperReel = new Swiper('.swiper-reel', {
		modules: [Navigation, Keyboard, Mousewheel],
		keyboard: {
			enabled: true,
			onlyInViewport: false
		},
		direction: 'vertical',
		loop: true,
		mousewheel: true
	})

	swiperReel.on('slideChangeTransitionEnd', function ({ slides }) {
		const activeSlide = slides.find((reel) => reel.className.includes('swiper-slide-active'))
		const activeVideo = activeSlide?.querySelector('video') as HTMLVideoElement

		slides.forEach((slide) => {
			const video = slide.querySelector('video') as HTMLVideoElement
			if (activeSlide === video) return activeVideo.play()
			video.pause()
			video.currentTime = 0
			video.muted = false
		})
	})
</script>
