---
import Layout from '@layouts/Layout.astro'
import Header from '@components/ui/Header.astro'
import { GRADUATES } from '@data/GRADUATES'
import Reel from '@components/Reel.astro'
import Footer from '@components/ui/Footer.astro'
---

<Layout title='Escuela de Arquitectura, Universidad de La Serena'>
	<Header class='absolute top-0 w-full z-10 !text-white landscape:!text-primary' />
	<main class='swiper-footer swiper h-full w-full'>
		<div class='swiper-wrapper'>
			<div class='swiper-slide'>
				<div class='swiper-reel swiper h-full w-full'>
					<article class='swiper-wrapper'>
						{
							GRADUATES.map((graduateInfo, i) => (
								<Reel info={graduateInfo} index={i + 1} total={GRADUATES.length} />
							))
						}
					</article>
				</div>
			</div>
			<Footer class='swiper-slide' />
		</div>
	</main>
</Layout>

<script>
	import Swiper from 'swiper'
	import { Navigation, Keyboard, Mousewheel } from 'swiper/modules'

	const swiperFooter = new Swiper('.swiper-footer', {
		modules: [Keyboard],
		keyboard: {
			enabled: true,
			onlyInViewport: false
		}
	})

	const swiperReel = new Swiper('.swiper-reel', {
		modules: [Navigation, Keyboard, Mousewheel],
		keyboard: {
			enabled: true,
			onlyInViewport: false
		},
		direction: 'vertical',
		loop: true,
		mousewheel: true
	})

	const setActiveSlider = ({ slides }: { slides: HTMLElement[] }) => {
		const activeSlide = slides.find((reel) => reel.className.includes('swiper-slide-active'))
		const activeVideo = activeSlide?.querySelector('video') as HTMLVideoElement
		slides.forEach((slide) => {
			const video = slide.querySelector('video') as HTMLVideoElement
			if (activeVideo === video) {
				video.muted = false
				return activeVideo.play()
			}
			video.pause()
			video.currentTime = 0
		})
	}

	swiperReel.on('slideNextTransitionStart', setActiveSlider)
	swiperReel.on('slidePrevTransitionStart', setActiveSlider)

	const header = document.querySelector('header') as HTMLHeadElement

	swiperFooter.on('slideChangeTransitionStart', () => {
		header.classList.toggle('hidden')
	})
</script>
