---
import Layout from '../layout/Layout.astro'
import Header from '../components/ui/Header.astro'
import ReelsList from '../components/ReelsList.astro'
---

<Layout title='Memoria Audiovisual'>
	<Header absolute />
	<main class='h-full'>
		<ReelsList />
	</main>
</Layout>
