---
import { architects } from '../data/architects.data.js'
import Reel from './Reel.astro'
---

<section class='swiper w-full h-full'>
	<div class='swiper-wrapper'>
		{
			architects.map((architect, index) => (
				<Reel architect={architect} index={index + 1} total={architects.length} />
			))
		}
	</div>
</section>

<script>
	import Swiper from 'swiper'
	const swiper = new Swiper('.swiper', {
		loop: true
	})
	swiper.on('slideChangeTransitionEnd', function (elements) {
		const activeElement = elements.slides.find((element) =>
			element.className.includes('swiper-slide-active')
		)
		const activeVideo = activeElement.querySelector('video')
		elements.slides.forEach((element) => {
			const video = element.querySelector('video')
			video.pause()
			video.currentTime = 0
			video.muted = false
		})
		activeVideo.play()
	})
</script>
