---
const { element, onClick, href, props } = Astro.props
---

{
	element === 'btn' ? (
		<button
			onclick={onClick}
			class='bg-white md:bg-primary md:text-white text-primary rounded-xl px-3 py-1 font-medium h-fit'
			{...props}
		>
			<slot />
		</button>
	) : (
		<a
			class='bg-white md:bg-primary md:text-white text-primary rounded-xl px-3 py-1 font-medium h-fit'
			href={href}
			{...props}
		>
			<slot />
		</a>
	)
}
