---
import type { HTMLProps } from 'react'

interface Props {
	as: 'button' | 'link'
	props?: HTMLProps<any>
}

const { as } = Astro.props

const styles =
	'bg-white md:bg-primary md:text-white text-primary rounded-xl px-3 h-fit font-paragraph'
---

{
	as === 'button' ? (
		<button class={styles} {...Astro.props}>
			<slot />
		</button>
	) : (
		<a class={styles} {...Astro.props}>
			<slot />
		</a>
	)
}
