---
import LogoULS from '@components/icons/LogoULS.astro'
import LogoMemoria from './LogoMemoria.astro'

interface Props {
	class?: string
}
const { class: customStyles } = Astro.props
---

<footer
	class:list={[
		customStyles,
		'bg-white text-primary flex flex-col items-center gap-6 justify-between pt-20 pb-4'
	]}
>
	<div class='grid gap-10'>
		<LogoMemoria size='lg' />
		<slot />
	</div>
	<div class='grid gap-8 place-items-center'>
		<LogoULS class='w-40' />
		<p class='font-paragrph -mb-40'>Proyecto financiado por:</p>
		<img src='/Mineduc.png' alt='Logo de Mineduc' class='max-w-xs sm:max-w-md aspect-[224/131]' />
	</div>
	<p class='font-paragraph whitespace-nowrap font-light'>
		Desarrollado por <a
			href='https://github.com/Strocs'
			class='text-blue-500 hover:text-white duration-150'>Strocs</a
		>
	</p>
</footer>
