<header>
	<h1 class='flex flex-col leading-none text-2xl uppercase tracking-widest'><span class='font-medium'>Memoria</span> <b class='font-extrabold'>Audiovisual</b></h1>
</header>

<style>
	h1 {
		font-family: 'Nunito Sans', sans-serif;
	}
</style>
