---
import LogoULS from '@components/icons/LogoULS.astro'
import LogoArqULS from '../icons/LogoArqULS.astro'
const { absolute } = Astro.props
---

<header
	class=`text-white md:text-black md:px-10 px-4 pt-4 flex justify-between ${absolute ? 'absolute top-0 w-full z-10' : ''}`
>
	<a href='https://userena.cl/' target='_blank' class='w-[3rem]'>
		<LogoULS />
	</a>
	<div class='flex gap-1'>
		<a href='/' class='text-right'>
			<h1 class='text-xl uppercase leading-none tracking-widest font-title'>
				Memorias
				<strong class='font-black block'>Audiovisuales</strong>
			</h1>
			<h2 class='absolute text-xs font-light font-title leading-none'>
				Escuela de Arquitectura U. de La Serena
			</h2>
		</a>
		<a
			href='https://arquls.userena.cl/'
			target='_blank'
			class='w-[2.8rem] -mt-[5px] block hover:text-secondary transition-colors duration-150'
		>
			<LogoArqULS />
		</a>
	</div>
</header>
