---
import LogoULS from '@components/icons/LogoULS.astro'
import LogoMemoria from './LogoMemoria.astro'

const { class: customStyle } = Astro.props
---

<header class:list={['text-black px-4 pt-4 flex justify-between', 'landscape:px-10', customStyle]}>
	<a
		href='https://userena.cl/'
		target='_blank'
		aria-label='Visita la web de la Universidad de La Serena'
		class='w-[3rem] landscape:w-[4rem] hover:text-blue-800 duration-150'
	>
		<LogoULS />
	</a>
	<LogoMemoria />
</header>
