---
import MutedIcon from '@components/icons/MutedIcon.astro'
import SoundIcon from '@components/icons/SoundIcon.astro'

const { id } = Astro.props
---

<button id={'mute-btn_' + id} type='button' class='p-1' aria-label='Botón de Silencio' class=''>
	<MutedIcon />
	<SoundIcon hidden />
</button>

<script define:vars={{ id }}>
	const reel = document.getElementById(id)
	const muteBtn = document.getElementById(`mute-btn_${id}`)
	const icons = muteBtn.children

	function toggleButtons() {
		icons[0].classList.toggle('hidden')
		icons[1].classList.toggle('hidden')
	}

	muteBtn.addEventListener('click', () => {
		reel.muted = !reel.muted
	})

	reel.addEventListener('volumechange', toggleButtons)
</script>
