---
import PauseIcon from '@components/icons/PauseIcon.astro'
import PlayIcon from '@components/icons/PlayIcon.astro'

const { id } = Astro.props
---

<button id={'pause-btn_' + id} type='button' aria-label='Botón de pausado'>
	<PlayIcon />
	<PauseIcon hidden />
</button>

<script define:vars={{ id }}>
	const reel = document.getElementById(id)
	const pauseBtn = document.getElementById(`pause-btn_${id}`)
	const icons = pauseBtn.children

	function toggleButtons() {
		icons[0].classList.toggle('hidden')
		icons[1].classList.toggle('hidden')
	}

	pauseBtn.addEventListener('click', () => {
		if (!reel.paused) return reel.pause()
		reel.play().catch((error) => {
			console.log('Something wrong: ' + error)
			reel.pause()
		})
	})

	reel.addEventListener('play', () => {
		toggleButtons()
	})

	reel.addEventListener('pause', () => {
		toggleButtons()
	})
</script>
