---
import PauseIcon from '@components/icons/PauseIcon.astro'
import PlayIcon from '@components/icons/PlayIcon.astro'

const { id } = Astro.props
---

<button id={'pause-btn_' + id} type='button' class='p-1' aria-label='Botón de pausado'>
	<PlayIcon />
	<PauseIcon hidden />
</button>

<script define:vars={{ id }}>
	const reel = document.getElementById(id)
	const pauseBtn = document.getElementById(`pause-btn_${id}`)
	const icons = pauseBtn.children

	const pauseReel = (reel, button) => {
		reel.pause()
		button.style.opacity = '0.8'
	}

	const playReel = (reel, button) => {
		reel
			.play()
			.then(() => (button.style.opacity = '0'))
			.catch((error) => {
				pauseReel(reel, button)
				console.warn(error)
			})
	}

	function toggleButtons() {
		icons[0].classList.toggle('hidden')
		icons[1].classList.toggle('hidden')
	}

	pauseBtn.addEventListener('click', () => {
		if (!reel.paused) return pauseReel(reel, reel.nextElementSibling)
		playReel(reel, reel.nextElementSibling)
	})

	reel.addEventListener('play', () => {
		toggleButtons()
	})

	reel.addEventListener('pause', () => {
		toggleButtons()
	})
</script>
