---
import MutedIcon from '@components/icons/MutedIcon.astro'
import SoundIcon from '@components/icons/SoundIcon.astro'

const { id } = Astro.props
---

<button id={'mute-btn_' + id} type='button' class='p-1' aria-label='Botón de Silencio' class=''>
	<MutedIcon />
	<SoundIcon hidden />
</button>

<script define:vars={{ id }}>
	const reel = document.getElementById(id)
	const muteBtn = document.getElementById(`mute-btn_${id}`)
	const icons = muteBtn.children

	// const muteSVG =
	// 	"<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='#f5f5fa' fill='none' stroke-linecap='round' stroke-linejoin='round' ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path d='M15 8a5 5 0 0 1 1.912 4.934m-1.377 2.602a5 5 0 0 1 -.535 .464'></path><path d='M17.7 5a9 9 0 0 1 2.362 11.086m-1.676 2.299a9 9 0 0 1 -.686 .615'></path><path d='M9.069 5.054l.431 -.554a.8 .8 0 0 1 1.5 .5v2m0 4v8a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l1.294 -1.664'></path><path d='M3 3l18 18'></path></svg>"

	// const soundSVG =
	// 	"<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='#f5f5fa' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path d='M15 8a5 5 0 0 1 0 8'></path><path d='M17.7 5a9 9 0 0 1 0 14'></path><path d='M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5' ></path></svg>"

	function toggleButtons() {
		icons[0].classList.toggle('hidden')
		icons[1].classList.toggle('hidden')
		// if (globalThis.soundActive) {
		// 	reel.insertAdjacentHTML(
		// 		'afterend',
		// 		`<div class="p-4 bg-secondary rounded-full w-fit h-fit opacity-50 absolute z-50 top-1/2 mx-auto left-0 right-0">${soundSVG}</div>`
		// 	)
		// } else {
		// 	reel.insertAdjacentHTML(
		// 		'afterend',
		// 		`<div class="p-4 bg-secondary rounded-full w-fit h-fit opacity-50 absolute z-50 top-1/2 mx-auto left-0 right-0">${muteSVG}</div>`
		// 	)
		// }
		// setTimeout(() => {
		// 	reel.parentElement.removeChild(reel.nextSibling)
		// }, 1000)
	}

	muteBtn.addEventListener('click', () => {
		reel.muted = !reel.muted
		globalThis.soundActive = !globalThis.soundActive
	})

	reel.addEventListener('volumechange', toggleButtons)
</script>
